.todoscontainer
{
    background-color: white;
    max-width: 380px;
    margin:auto;
    margin-top:10px;
}
.todoscontainerS
{
    background-color: white;
    max-width: 380px;
    margin:auto;
    margin-top:10px;
}